<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Зачетная книжка</title>
  <link rel="icon" href="/icon/airplane.png" type="image/x-icon">
</head>
<body>
<section class="sectionLogin">

  <div class="boxLogin">

    <div class="square" style="--i:0"></div>
    <div class="square" style="--i:1"></div>
    <div class="square" style="--i:2"></div>
    <div class="square" style="--i:3"></div>
    <div class="square" style="--i:4"></div>


    <div class="containerLogin">
      <div class="form">
        <h1>Зачетная книжка</h1>
          <table>
            <tr th:action="@{/users//achievementSheet}" th:method="GET" th:object="${user}">
              <td>Сегодня </td>
              <td>
                <div th:text="${user.getFullName()}"></div>
                <div th:text="${user.getGroupName()}"></div>
              </td>
              <!-- Другие поля сущности -->
            </tr>
          </table>
      </div>
    </div>
  </div>
</section>
</body>
</html>